<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/htmx/htmx.js"></script>
    <title>HTMX test</title>
</head>
<body>

<table style="width: 100%">
    <tr>
        <td style="border: 1px solid red;">
            <div><a hx-get="/htmx/partial/one" hx-target="#content" hx-push-url="/htmx/#one">One</a></div>
            <div><a hx-get="/htmx/partial/two" hx-target="#content" hx-push-url="/htmx/#two">Two</a></div>
            <div><a hx-get="/htmx/partial/three" hx-target="#content" hx-push-url="/htmx/#three">Three</a></div>
            <div><a hx-get="/htmx/partial/form" hx-target="#content" hx-push-url="/htmx/#form">Form</a></div>
        </td>
        <td id="content" style="border: 1px solid red;">content to go here...</td>
    </tr>
</table>

<div id="his"></div>

<script>
    document.getElementById('his').innerHTML = '{{ request }}';
</script>

</body>
</html>